/* Reseta margens e paddings para garantir um layout limpo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Alinha todos os itens dentro do header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: transparent;
    position: fixed;
}

/* Header com fundo branco */
header.scrolled {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: Adiciona uma sombra para destacar */
    transition: background-color 0.3s, box-shadow 0.3s; /* Suaviza a transição */
}

/* Links dentro do header com fundo branco */
header.scrolled ul li a {
    color: black;
    transition: color 0.3s; /* Transição suave */
}

/* Links padrão (quando o header é transparente) */
header ul li a {
    color: white;
    transition: color 0.3s; /* Transição suave */
}

.scrolled .header-icons div {
    filter: invert(1); /* Inverte as cores dos ícones */
  }

/* Estilos para a faixa de CEP */
.faixa-cep {
    width: 100%;
    height: 39px;
    background-color: #B11B26;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-family: 'open sans', sans-serif;
}

/* Estilos para o logo e a lista */
.logo {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: flex-start; /* Alinha à esquerda */
    margin-top: 24px;
    margin-bottom: 24px;
    width: calc(100% - 80px); /* Deixa o logo ocupar o espaço restante */
    padding-left: 80px; /* Espaço de 80px da borda esquerda */
    box-sizing: border-box; /* Inclui padding e margin no tamanho total */
}

/* Ajusta o logo */
.logo img {
    margin-right: 48px; /* Espaçamento entre logo e a lista */
}

/* Estiliza a lista */
.logo ul {
    display: flex;
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0;
}

.logo ul li {
    margin-right: 40px; /* Espaçamento entre os itens do menu */
    font-family: 'open sans', sans-serif;
}

.logo ul li a {
    text-decoration: none; /* Remove sublinhado */
    color: rgb(255, 255, 255); /* Cor do texto */
}
/* Seleciona o link específico "Outlet" */
.logo ul li:nth-child(3) a {
    color: #B11B26; /* Altera a cor para #B11B26 */
}


/* Estiliza o container dos ícones */
.header-icons {
    position: absolute; /* Posiciona em relação ao header */
    top: calc(39px + 30px); /* 30px abaixo da faixa (39px é a altura da faixa) */
    right: 80px; /* 80px da borda direita */
    display: flex;
    justify-content: flex-end; /* Alinha os ícones à direita */
    align-items: center; /* Centraliza verticalmente */
    gap: 24px; /* Espaçamento entre os ícones */
}

/* Estilo base para os ícones */
.header-icons div {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Ícone de busca */
.icone-search {
    background-image: url('img/icone-search.png'); /* Caminho do ícone de busca */
}

/* Ícone de conta */
.icone-conta {
    background-image: url('img/icone-conta.png'); /* Caminho do ícone de conta */
}

.icone-carrinho {
    background-image: url('img/icone-carrinho.png');
    width: 35px !important; /* Novo tamanho desejado */
    height: 20px !important; /* Novo tamanho desejado */
}

/* Estilos para o carrossel */
.banner-container {
    overflow: hidden; /* Esconde as imagens fora do contêiner */
    position: relative;
}

.banner-img {
    width: 100%;
    height: 980px;
    object-fit: cover;
    object-position: center;
}
.banner-slide {
    display: flex; /* Coloca as imagens uma ao lado da outra */
    transition: transform 2s ease;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta a imagem para caber no contêiner sem cortar */
    object-position: center;
}

/* Botão estilizado */
.btn-conheca {
    position: absolute;
    width: 150px;
    height: 43px;
    top: 90%; /* Posiciona no meio vertical da banner-container */
    left: 50%; /* Posiciona no meio horizontal da banner-container */
    transform: translate(-50%, -50%); /* Centraliza completamente o botão */
    padding: 12px 24px;
    gap: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-family: 'open sans', sans-serif;
    white-space: nowrap;
    text-align: center;
    text-decoration: underline;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    z-index: 3;
}

/* Categorias */

.categorias h1 {
    font-family: 'open sans', sans-serif;
    font-size: 28px;
    margin-left: 80px;
    margin-top: 32px; /* Reduz a distância da div do banner */
    margin-bottom: 32px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: nowrap; /* Garante que os cards fiquem na mesma linha */
    margin-right: 80px; /* Remove margens laterais desnecessárias */
    margin-left: 80px; 
    margin-bottom: 64px;
}

.card {
    text-align: center;
}
.card img {
    max-width: 100%; /* Garante que a imagem se ajuste ao tamanho do card */
    height: auto; /* Mantém a proporção da imagem */
}

.card p {
    margin-top: 16px;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    color: #000000;
}

/* banner navegação */

.banner-navegação {
    display: flex;
    justify-content: center;
    gap: 16px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}


.banner-navegação img {
    height: auto; /* Mantém a proporção original das imagens */
    object-fit: contain; /* Garante que a imagem caiba dentro do espaço sem distorcer */
}

.banner-grande {
    max-width: 63%; /* Ajusta o tamanho da imagem grande */
}

.banner-pequeno {
    max-width: 36%; /* Ajusta o tamanho da imagem pequena */
}

/* lançamentos */

.lancamentos {
    background-color: #ffffff;
    padding-top: 15px;
}

.lancamentos-container {
    display: flex;
    flex-wrap: nowrap;  /* Garante que os cards fiquem na mesma linha */
    gap: 16px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 32px;
    justify-content: flex-start; /* Garante que os cards fiquem alinhados à esquerda */
}

.lancamentos h1 {
    font-family: 'open sans', sans-serif;
    font-size: 28px;
    margin-left: 80px;
    margin-top: 32px;
}

.card-lancamento {
    width: 330px;
    padding: 16px;
    box-sizing: border-box;
}

.card-lancamento img {
    width: 100%;  /* Garante que a imagem ocupe toda a largura do card */
    height: auto;  /* Mantém a proporção da imagem */
}

/* Conheça mais */
.conheca-mais {
    background-color: #F7F7F7;
    padding: 15px 80px 32px 80px; /* Padding ajustado para alinhar com o restante */
}

.conheca-mais h1 {
    font-family: 'open sans', sans-serif;
    font-size: 28px;
    margin-bottom: 5px;
}

.conheca-mais p {
    font-family: 'open sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 32px;
    color: #8A8A8A;
    font-weight: 300;
    line-height: 1.51;
}

/* Carrossel */
.carrossel {
    display: flex;
    justify-content: space-between; /* Distribui os cards com espaço entre eles */
    gap: 16px; /* Espaçamento entre os cards */
    margin-top: 20px;
    overflow: hidden; /* Impede que conteúdo extra transborde */
}

.card-blog {
    flex: 1; /* Faz os cards ocuparem espaço igual */
    max-width: 576px; /* Define a largura máxima de cada card */
    height: 513px;
    box-sizing: border-box;
}

.card-blog img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
    height: auto; /* Mantém a proporção da imagem */
}

.card-blog h2 {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
}

.card-blog p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px; /* Espaço entre o texto e o link */
}

.card-blog a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none; /* Remove o sublinhado */
}

/* newsletter */

.newsletter {
    background-color: #FFE9DC;
    color: #B11B26;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.newsletter h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

.btn-enviar {
    height: 46px;
    width: 300px;
    padding: 12px 24px;
    background-color: #B11B26;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

input {
    height: 46px;
    width: 300px;
    padding: 12px 24px;
    border: 1px solid #B11B26;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-right: 16px;
}

.footer {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #B11B26;
    height: 424px;
}

#logo-footer {
    color: #FFE9DC;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B11B26;
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}

.footer-links {
    display: flex;
    gap: 50px;
}

.footer-links div h4 {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
}

.footer-links a {
    display: block;
    color: #FFE9DC;
    text-decoration: none;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}