* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

/* Estilização do modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: absolute;
    background: #FFFFFF;
    padding: 48px 32px 48px 32px;
    text-align: left;
    width: 610px;
    height: 394px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: #000000;
}

.modal-content h2 {
    font-size: 18px;
    margin-bottom: 48px;
    white-space: nowrap;
}

.close-button, .close-carrinho, .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #8A8A8A;
    cursor: pointer;
    background-color: #c2c2c2;
}

.close-button:hover,.close-carrinho:hover {
    color: #B11B26;
}

.form-row {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
}

#label-cidade, #label-estado {
    font-size: 14px;
}

#estado {
    width: 271px;
    height: 38px;
    color: rgb(211, 211, 211);
    font-style: italic;
}

#estado:not(:focus):not([value="placeholder"]) {
    color: #333;
    font-style: normal;
}

#estado option[value="placeholder"] {
    color: rgb(211, 211, 211);
    font-style: italic;
}

#estado:focus option[value="placeholder"] {
    display: none;
}

#estado option:not([value="placeholder"]) {
    color: #333;
    font-style: normal;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
}

input::placeholder, select::placeholder {
    color: #aaa;
    font-style: italic;
}

input {
    margin-bottom: 30px;
}

select {
    margin-bottom: 10px;
}

#input-cidade {
    width: 271px;
}

.save-button {
    align-items: center;
    background-color: #B11B26;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.save-button:hover {
    background: #a10a1f;
}

/*header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: transparent;
    position: fixed;
}

/* Header fundo branco */

header.scrolled {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header.scrolled ul li a {
    color: black;
    transition: color 0.3s;
}

/* Links */
header ul li a {
    color: white;
    transition: color 0.3s;
}

.scrolled .header-icons div {
    filter: invert(1);
}

/* faixa de CEP */

.faixa-cep {
    width: 100%;
    height: 39px;
    background-color: #B11B26;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    display: none;
}

.faixa-cep a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

/* logo e a lista */
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 24px;
    margin-bottom: 24px;
    width: calc(100% - 80px);
    padding-left: 80px;
    box-sizing: border-box;
}

.logo img {
    margin-right: 50px;
}

/* lista */
.logo ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.logo ul li:nth-child(1) {
    margin-right: 0;
}

.logo ul li {
    margin-right: 40px; 
    position: relative; 
}

.logo ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    transition: color 0.3s ease;
}

.logo ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: #000000;
    transition: width 0.9s ease;
}

.logo ul li a:hover::after {
    width: 90%;
}

/* Outlet */
.logo ul li:nth-child(3) a {
    color: #B11B26;
}

.header-icons {
    position: absolute; 
    top: calc(39px + 30px); 
    right: 80px; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 24px; 
}

.header-icons div {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.icone-search {
    background-image: url('img/icone-search.png');
}

.icone-conta {
    background-image: url('img/icone-conta.png');
}

.icone-carrinho {
    background-image: url('img/icone-carrinho.png');
    width: 35px !important;
    height: 20px !important;
}

.contador {
    position: absolute;
    right: -5px;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menu Produtos */

.menu-produtos {
    width: 100%;
    height: 370px;
    background-color: white;
    position: fixed;
    top: 100px;
    left: 0;
    display: none;
}

.menu-produtos .menu-links {
    list-style: none;
    margin-top: 24px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    left: 264px;
}

.menu-produtos .menu-links li {
    font-size: 14px;
}

.menu-produtos .menu-links li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.menu-produtos .menu-links li a:hover {
    text-decoration: underline;
}

/* área onde as imagens serão exibidas */
.image-display {
    position: absolute;
    left: 390px;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Estilo para as imagens */
.product-image {
    margin-top: 24px;
    width: 315px;
    height: 315px;
    margin-left: 20px;
    display: none;
}

/* Estilos para o carrossel */
.banner-container {
    overflow: hidden;
    position: relative;
}

.banner-img {
    width: 100%;
    height: 980px;
    object-fit: cover;
    object-position: center;
}
.banner-slide {
    display: flex;
    transition: transform 2s ease;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* Botão estilizado */
.btn-conheca {
    position: absolute;
    width: 150px;
    height: 43px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    gap: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    z-index: 1;
}
.btn-conheca:hover {
    text-decoration: underline;
}

/* Categorias */

.categorias h1 {
    font-size: 28px;
    margin-left: 80px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: nowrap;
    margin-right: 80px;
    margin-left: 80px; 
    margin-bottom: 64px;
}

.card {
    text-align: ringht;
}
.card img {
    max-width: 100%;
    height: auto;
}

.card p {
    margin-top: 16px;
    font-size: 16px;
    color: #000000;
}

/* banner navegação */

.banner-navegação {
    display: flex;
    justify-content: center;
    gap: 16px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.banner-navegação img {
    height: auto;
    object-fit: contain;
}

.banner-grande {
    max-width: 63%;
}

.banner-pequeno {
    max-width: 36%;
}

/* lançamentos */

.lancamentos {
    background-color: #ffffff;
    padding-top: 15px;
}

.lancamentos-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 32px;
    justify-content: flex-start;
}

.lancamentos-container p {
    font-size: 16px;
}

.lancamentos h1 {
    font-size: 28px;
    margin-left: 80px;
    margin-top: 32px;
}

.card-lancamento {
    width: 330px;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
}

.card-lancamento img {
    width: 100%;
    height: auto;
}

.btn-carrinho {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-carrinho img {
    width: 32px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-carrinho img:hover {
    transform: scale(1.1);
}

/* Conheça mais */
.conheca-mais {
    background-color: #F7F7F7;
    padding: 15px 80px 56px 80px;
}

.conheca-mais h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.conheca-mais p {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 32px;
    color: #8A8A8A;
    font-weight: 300;
    line-height: 1.51;
}

/* Carrossel */
.carrossel {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 20px;
    overflow: hidden;
}

.card-blog {
    flex: 1;
    max-width: 576px;
    height: 100%;
    box-sizing: border-box;
}

.card-blog img {
    width: 100%;
    height: auto;
}

.card-blog h2 {
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 10px;
}

.card-blog p {
    text-align: left;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
}

.card-blog a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.card-blog a:hover {
    text-decoration: underline;
}

/* newsletter */

.newsletter {
    background-color: #FFE9DC;
    color: #B11B26;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 110px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.newsletter h1 {
    font-size: 18px;
    margin: 0;
    margin-right: 48px;
}

#newsletter-input {
    height: 46px;
    width: 300px;
    margin-top: 31px;
    padding: 12px 24px;
    border: 1px solid #B11B26;
    font-size: 14px;
}

.btn-enviar {
    height: 46px;
    width: 300px;
    padding: 12px 24px;
    background-color: #B11B26;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Estilo do container do cupom */
#cupom-container {
    display: flex;
    align-items: center;
    gap: 1px;
}

.cupom {
    display: none;
    background-color: white;
    color: #B11B26;
    border:1px dashed #A9A9A9;
    padding: 12px 24px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-size: 14px;
    width: 356px;
    height: 46px;
    text-align: center;
    font-weight: bold;
}

.copiar {
    display: none;
    width: 144px;
    height: 46px;
    background-color: #B11B26;
    color: white;
    border: none;
    padding: 12px 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
    font-size: 14px;
}

.hidden {
    display: none;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B11B26;
    color: white;
    padding: 40px 0px;
    height: 424px;
}

#logo-footer {
    color: #FFE9DC;
    margin-right: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}

.footer-links {
    display: flex;
    gap: 80px;
    align-items: center;
}

.footer-links div {
    text-align: center;
}

.footer-links div h4 {
    margin-bottom: 10px;
    font-size: 16px;
    white-space: nowrap;
}

.footer-links a {
    display: block;
    color: #FFE9DC;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/*minicart*/

.minicart-main-container {
    width: 500px;
    height: 750px;
    background-color: white;
    position: fixed;
    top: 22%;
    right: 0%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

.minicart-main-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.minicart-main-container h1 {
    font-size: 24px;
    margin: 0;
}

.minicart-main-container .adicionar-remover-produto {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
}

.minicart-main-container .total {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.minicart-main-container .total p {
    margin: 5px;
}

.minicart-main-container .total button {
    background-color: #B11B26;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 46px;
    width: 452px;
    font-size: 14px;
}

.minicart-main-container .total a {
    text-decoration: none;
    font-size: 14px;
}

.minicart-main-container .total a:hover {
    text-decoration: underline;
}

/*card carrinho minicart*/

.produto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    flex-wrap: wrap;
  }
  
  .produto-info {
    display: flex;
    align-items: center;
  }
  
  .produto-imagem {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border: 1px solid #ccc;
  }
  
  .produto-detalhes {
    font-size: 14px;
    color: #333;
  }
  
  .produto-nome {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .produto-tamanho,
  .produto-preco {
    margin-bottom: 5px;
  }
  
  .produto-acoes {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .quantidade-btn {
    background: none;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    cursor: pointer;
  }
  
  .quantidade {
    font-size: 16px;
    font-weight: bold;
    width: 30px;
    text-align: center;
  }
  
  .remover-produto {
    background: none;
    color: #999;
    border: none;
    cursor: pointer;
    font-size: 12px;
  }
  
/* Container do Modal lançamentos */

#modalCarrinho {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;  
    width: 903px;
    height: 433px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.modal-body{
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
}

.modal-image {
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
}

.modal-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.modal-details {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tamanhos {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tamanho-btn {
    width: 44px;
    height: 46px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.tamanho-btn:hover {
    background-color: #ddd;
}

#adicionarCarrinho {
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
    background-color: #B11B26;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#adicionarCarrinho:hover {
    background-color: #9a1722;
}